<template name="eventAdd">
	<form class="col-md-12">
		<div class="form-group">
			<label for="customer-name">Paciente: </label>
			{{> customerCombo}}
			<label for="treatment-description">Tratamento: </label>
			{{> treatmentCombo}}
			<label for="date-time-start">Inicio: </label>
			<input type="datetime" id="date-time-start" class="form-control start" placeholder="Insira a data hora inicio"/>
			<label for="date-time-end">Fim: </label>
			<input type="datetime" id="date-time-end" class="form-control end" placeholder="Insira a data hora fim"/>
			<button type="submit" class="btn btn-default save-event">Salvar</button>
		</div>
	</form>
</template>

<template name="customerCombo">
	<select id="customer-name" class="form-group">
	</select>
</template>

<template name="treatmentCombo">
	<select id="treatment-description" class="form-group">
	</select>
</template>
