<template name='login'>
	<div class="container form-box">
		<form class="form-signin">
			<img src="/pics/lf-logo-medium.png" class="img-responsive center-block" />
			<label class="sr-only" for="login">Login</label>
			<input type="text" class="form-control" name="login" required="" placeholder="Login" />
			<label class="sr-only" for="password">Senha</label>
			<input type="password" class="form-control" placeholder="Senha" required="" />
			<div class="checkbox">
				<label>
					<input value="remember-me" type="checkbox"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		</form>
	</div>
</template>
