<template name="treatmentConfig">
  <p class="text-uppercase row">
    <h4>Cadastro de Tratamentos</h4>
    {{> treatmentAdd }}
  </p>
  <br/>
  <p class="text-uppercase bg-gray row">
    <h4>Lista de Tratamentos</h4>
    {{> treatmentList }}
  </p>

</template>


<template name="treatmentAdd">
  <form class="col-md-12">
    <div class="form-group">
      <div class="form-group">
        <label for="treatment-desc">Tratamento: </label>
        <input type="text" id="treatment-desc" class="form-control description" placeholder="Insira a descrição do tratamento"/>
      </div>
        {{> treatmentTypeCombo }}
      <div class="form-group">
        <label for="base-price">Valor Base: </label>
        <input type="value" id="base-price" class="form-control price base-price col-md-6" placeholder="Insira o valor base"/>
      </div>
      <div class="form-group">
        <label for="disc-price">Valor Desconto: </label>
        <input type="value" id="disc-price" class="form-control price disc-price col-md-6" placeholder="Insira o valor com desconto"/>
      </div>
      <br />
      <br />
        <button class="btn btn-primary btn-lg btn-block col-xs-12 save-treatment">Salvar</button>
    </div>
  </form>
</template>

<template name="treatmentTypeCombo">
  <div class="form-group">
    <label for="treatment-type">Tipo do Tratamento: </label>
    <select class="form-control" id="treatment-type">
      <option value="" selected="selected">Selecione um tipo</option>
      <option value="RPG">RPG</option>
      <option value="FISIO">Fisioterapia</option>
      <option value="PILATES">Pilates</option>
      <option value="ESTETICA">Estética</option>
    </select>
  </div>
</template>

<template name="treatmentList">
  <div class= "col-xs-12 container-fluid table treat-list">
    <dl id="treatment-list" class="">
      {{#each treatmentFetch}}
        {{> treatmentItem}}
      {{/each}}
    </dl>
  </div>
</template>

<template name="treatmentItem">
    <dt>
      <span class="treat">{{type}}</span>
      <!-- <a href="#" class="edit-treatment pull-right">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      </a> -->
      <a href="#" class="remove-treatment pull-right">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
    </dt>
    <dd>
      <span class="treatment-name">{{name}}</span>
      <span class="treatment-base-price">{{basePrice}}</span>
      <span class="treatment-dist-price">{{discountedPrice}}</span>
    </dd>
</template>
